*{
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(133, 110, 155);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 300px;
    width: 250px;
    background-color: lightblue;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    position: absolute;
}
.amount{
    margin-top: 20px;
}

.amount input{
    width: 250px;
    height: 25px;
    border-style: none;
}


.dropdown{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap : 20px;
    
}

.dropdown .img{
    width: 30px;
}

.select{
    border: 0.5px solid #000;
    border-radius: 5px;
    padding: 0 1px;
}
.dropdown select{
    width: 55px;
    border: none;
    background-color: transparent
}

.dropdown .select{
    width: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.convert-msg{
    position: absolute;
    bottom: 65px;
}

button{
    position: absolute;
    bottom: 20px;
    width: 250px;
    height: 25px;
    background-color: green;
    border-style: none;
    border-radius: 10px;
}

.dropdown .exchange{
    height: 30px;
}